.poll,
.poll.p {
  display:block;
  margin-bottom:-.5em;
}
.poll p:after,
.poll span span:after {
  content:"";
  display:table;
  clear:both;
}
.poll span,
.poll svg,
.poll button,
.poll i {
  display:inline-block;
  vertical-align:middle;
  position:relative;
}
.poll svg {
  display:inline-block;
  vertical-align:middle;
  width:1em;
  height:1em;
  fill:currentColor;
}
.poll button {
  margin:0 .25em 0 0;
  padding:0;
  background:none;
  border:0;
  font:inherit;
  color:inherit;
  cursor:inherit;
}
.poll button::-moz-focus-inner {
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
.poll span {margin:0 .5em .5em 0}
.poll span:last-child {margin-right:0}
.poll span span {margin:0}
.poll span i {font:inherit}
.poll .a button {
  color:#06c;
  cursor:pointer;
}
.poll .a.done button {color:#0ac}

/* @like */
.poll-like .poll\:\+1 button,
.poll-like .poll\:\-1 button {
  float:right;
  margin:0 0 0 .25em;
}
.poll-like .poll\:\+1 svg {top:-.125em} /* magic number :( */
.poll-like .poll\:\+1 i,
.poll-like .poll\:\-1 i {float:right}

/* @love */
.poll-love .a button {
  color:#f00;
  top:-.05em; /* magic number :( */
}
.poll-love .a.done button {color:#c00}

/* @react */
.poll-react,
.poll-react.p {margin-bottom:-1em}
.poll-react span {
  background:#fffade;
  color:#222;
  line-height:1.5em;
  margin:0 1em 1em 0;
}
.poll-react span:last-child {margin-right:0}
.poll-react span button,
.poll-react span i {
  display:block;
  text-align:center;
  margin:0;
}
.poll-react span button {
  font-size:150%;
  color:#d14322;
}
.poll-react span button,
.poll-react .a button,
.poll-react .a.done button {
  background:#fef09e;
  width:2em;
  height:2em;
  line-height:2em;
  color:#555;
}
.poll-react .poll\:\+1 span button {background:#fcf795}
.poll-react .poll\:\-1 span button {background:#f5f0b9}
.poll-react .poll\:\+2 span button {background:#e5ff9d}
.poll-react .poll\:\+3 span button {background:#ffde9d}
.poll-react .poll\:\+4 span button {background:#bfedfa}
.poll-react .poll\:\+5 span button {background:#e8c1f0}
.poll-react .poll\:\+6 span button {background:#b4a5ce}
.poll-react .poll\:\-2 span button {background:#a7bcce}
.poll-react .poll\:\-3 span button {background:#d8d8d8}
.poll-react .poll\:\-4 span button {background:#ffadaf}

/* @respond */
.poll-respond .a button {font-weight:bold}
.poll-respond span i:before {content:'('}
.poll-respond span i:after {content:')'}